<center>
  <table class='table table-bordered'>
    <tr>
      <th>Metric</th>
      <th>Count</td>
      <th>Dealer Total Value</th>
      <th>Customer Total Value</th>
    </tr>
    <tr>
      <td>Sales Forms</td>
      <td><%= @sales.count %></td>
      <td>
        <%= number_to_currency(@sales.sum(:dealer_total_value)) %>
      </td>
      <td>
        <%= number_to_currency(@sales.sum(:customer_total_value)) %>
      </td>
    </tr>
    <tr>
      <td>Service Forms</td>
      <td><%= @service.count %></td>
      <td>
        <%= number_to_currency(@service.sum(:dealer_total_value)) %>
      </td>
      <td>
        <%= number_to_currency(@service.sum(:customer_total_value)) %>
      </td>
    </tr>
    <tr>
      <td>Completed Forms</td>
      <td><%= @completed.count %></td>
      <td>
        <%= number_to_currency(@completed.sum(:dealer_total_value)) %>
      </td>
      <td>
        <%= number_to_currency(@completed.sum(:customer_total_value)) %>
      </td>
    </tr>
    <tr>
      <th>Totals</th>
      <th><%= WeoweForm.count %></th>
      <th>
        <%= number_to_currency(WeoweForm.sum(:dealer_total_value)) %>
      </th>
      <th>
        <%= number_to_currency(WeoweForm.sum(:customer_total_value)) %>
      </th>
    </tr>
  </table>
</center>

