<div class='table-responsive'>
      <center>
        <table class='table table-bordered'>
          <tr>
            <th>Metric</th>
            <th>Count</td>
            <th>Dealer Total Value</th>
            <th>Customer Total Value</th>
          </tr>
          <tr>
            <td>Sales Forms</td>
            <td><%= @pending.count %></td>
            <td>
              <%= number_to_currency(@pending.sum(:dealer_total_value)) %>
            </td>
            <td>
              <%= number_to_currency(@pending.sum(:customer_total_value)) %>
            </td>
          </tr>
          <tr>
            <td>Service Forms</td>
            <td><%= @records.where(pending: false, completed: false).count %></td>
            <td>
              <%=  number_to_currency(@records.where(pending: false, completed: false).sum(:dealer_total_value)) %>
            </td>
            <td>
              <%=  number_to_currency(@records.where(pending: false, completed: false).sum(:customer_total_value)) %>
            </td>
          </tr>
          <tr>
            <td>Completed Forms</td>
            <td><%= @records.where(pending: false, completed: true).count %></td>
            <td>
              <%= number_to_currency(@records.where(pending: false, completed: true).sum(:dealer_total_value)) %>
            </td>
            <td>
              <%= number_to_currency(@records.where(pending: false, completed: true).sum(:customer_total_value)) %>
            </td>
          </tr>
          <tr>
            <th>Totals</th>
            <th><%= @records.count %></th>
            <th>
              <%= number_to_currency(@records.sum(:dealer_total_value)) %>
            </th>
            <th>
              <%= number_to_currency(@records.sum(:customer_total_value)) %>
            </th>
          </tr>
        </table>
      </center>
    </div>
