<%= high_chart('weoweforms_count', @count) %>
<br><br>

<center>
  <h4>Total Dealership Cost</h4>
  <table class='table' style='width: 50%;'>
    <tr>
      <th>Metric</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Retail</td>
      <td>
        <%=number_to_currency(WeoweForm.where(dealer_id: current_user.dealer_id, pending: false, completed: true).sum('dealer_total_value'))%>
      </td>
    </tr>
    <tr>
      <td>Wholesale</td>
      <td>
        <%=number_to_currency(WeoweForm.where(dealer_id: current_user.dealer_id, pending: false, completed: true).sum('dealer_wholesale'))%>
      </td>
    </tr>
    <tr>
      <td>Actual</td>
      <td>
        <%=number_to_currency(WeoweForm.where(dealer_id: current_user.dealer_id, pending: false, completed: true).sum('dealer_total_actual'))%>
      </td>
    </tr>
    <tr>
      <td>Difference</td>
      <td>
        <%=number_to_currency(WeoweForm.where(dealer_id: current_user.dealer_id, pending: false, completed: true).sum('dealer_wholesale') -
           WeoweForm.where(dealer_id: current_user.dealer_id, pending: false, completed: true).sum('dealer_total_actual'))%>
      </td>
    </tr>
  </table>
</center>
