<% provide(:title, 'Statistics') %>
<h1>Statistics</h1>

<div class='table-responsive'>
  <center>
    <table class='table table-bordered table-condensed fixtable'>
      <tr>
        <th>Metric</th>
        <th>Count</td>
        <th>Dealer Total Value</th>
        <th>Customer Total Value</th>
      </tr>
      <tr>
        <td>Sales Forms</td>
        <td><%= WeoweForm.where(pending: true, completed: false).count %></td>
        <td>
          <%= number_to_currency(WeoweForm.where(pending: true, completed: false).sum(:dealer_total_value)) %>
        </td>
        <td>
          <%= number_to_currency(WeoweForm.where(pending: true, completed: false).sum(:customer_total_value)) %>
        </td>
      </tr>
      <tr>
        <td>Service Forms</td>
        <td><%= WeoweForm.where(pending: false, completed: false).count %></td>
        <td>
          <%=  number_to_currency(WeoweForm.where(pending: false, completed: false).sum(:dealer_total_value)) %>
        </td>
        <td>
          <%=  number_to_currency(WeoweForm.where(pending: false, completed: false).sum(:customer_total_value)) %>
        </td>
      </tr>
      <tr>
        <td>Completed Forms</td>
        <td><%= WeoweForm.where(pending: false, completed: true).count %></td>
        <td>
          <%= number_to_currency(WeoweForm.where(pending: false, completed: true).sum(:dealer_total_value)) %>
        </td>
        <td>
          <%= number_to_currency(WeoweForm.where(pending: false, completed: true).sum(:customer_total_value)) %>
        </td>
      </tr>
      <tr>
        <th>Totals</th>
        <th><%= WeoweForm.count %></th>
        <th>
          <%= number_to_currency(WeoweForm.sum(:dealer_total_value)) %>
        </th>
        <th>
          <%= number_to_currency(WeoweForm.sum(:customer_total_value)) %>
        </th>
      </tr>
    </table>
  </center>
</div>
