<%= bootstrap_form_for(@weowe_item, style: :horizontal, left: "col-sm-4", right: "col-sm-8") do |f| %>
  <% if @weowe_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weowe_item.errors.count, "error") %> prohibited this weowe_item from being saved:</h2>
      <ul>
      <% @weowe_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :description %>
    <%= f.number_field :weowe_form_id %>

  <div class="actions">
    <%= f.form_group do %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
