<% provide(:title, 'Locked Out') %>

<div class='box-position'>
  <center>
    <p class='header-font'>WeOwePro</p>
  </center>
  <div class='fixwidth box'>
    <%= bootstrap_form_for(resource, :as => resource_name,
                           :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
      <center><h4>Resend unlock instructions</h4></center><hr>
      <%= devise_error_messages! %>
      <%= f.email_field :email, :autofocus => true %></div>
      <center>
        <%= f.submit 'Resend unlock instructions', class: 'devise-buttons' %>
      </center>
    <% end %>
    <div class='hidden-xs'><hr></div>
    <%= render "devise/shared/links" %>
    <div class='visible-xs'>
      <br>
      <%= render "devise/shared/mobile_footer" %>
    </div>
  </div>
</div>
