<!-- <div class='userform well'>
  <%= bootstrap_form_for(@user) do |f| %>

    <h1 class='hidden-xs'><%= legend %></h1>
    <center><h3 class='visible-xs'><%= legend %></h3></center>

    <% unless signed_in? %>
      <%= f.select :dealer_id, options_from_collection_for_select(Dealer.all, :id, :name) %>
    <% end %>

    <% if signed_in? %>
      <%= f.hidden_field :dealer_id, value: current_user.dealer_id %>
    <% end %>

    <%= f.text_field :first_name, label: 'First Name *',
                     placeholder: 'First Name *' %>
    <%= f.text_field :last_name, label: 'Last Name *',
                     placeholder: 'Last Name *' %>
    <%= f.text_field :email, label: 'Email *',
                     placeholder: 'Email *' %>
    <%= f.text_field :phone_number, label: 'Phone Number *',
                     placeholder: 'Phone Number *' %>

    <% if signed_in? %>
      <% if current_user.admin? %>
        <%= f.select :admin, [['Yes', true], ['No', false]] %>
        <%= f.select :active, [['Yes', true], ['No', false]] %>
      <% end %>
      <%= f.select :department, ['F&I', 'Sales', 'Service', 'Unassigned'] %>
    <% end %>
    <% if f.object.new_record? %>
      <%= f.password_field :password, label: 'Password *',
                           placeholder: 'Password *' %>
      <%= f.password_field :password_confirmation, label: 'Password Confirmation *',
                           placeholder: 'Password Confirmation *' %>
    <% end %>

    <% if @user.new_record?() %>
      <button type='submit' class='btn btn-block btn-primary'>
        <i class='fa fa-check'></i> Create New Employee
      </button>
    <% else %>
      <button type='submit' class='btn btn-block btn-primary'>
        <i class='fa fa-refresh'></i> Update Employee Information
      </button>
    <% end %>
  <% end %>
</div>
</div> -->
