<div class='userform well'>
  <%= bootstrap_form_for(@user) do |f| %>

    <%= render 'shared/error_messages_users' %>

    <legend><%= legend %></legend>

    <% unless signed_in? %>
      <%= f.select :dealer_id, options_from_collection_for_select(Dealer.all, :id, :name) %>
    <% end %>

    <% if signed_in? %>
      <%= f.hidden_field :dealer_id, value: current_user.dealer_id %>
    <% end %>

    <%= f.text_field :first_name, label: 'First Name *' %>
    <%= f.text_field :last_name, label: 'Last Name *' %>
    <%= f.text_field :email, label: 'Email *' %>
    <%= f.text_field :phone_number, label: 'Phone Number *' %>
    <% if current_user.admin? %>
      <%= f.select :admin, [['Yes', true], ['No', false]] %>
      <%= f.select :active, [['Yes', true], ['No', false]] %>
      <%= f.select :department, ['F&I', 'Sales', 'Service', 'Manager', 'Unassigned'] %>
    <% else %>
      <%= f.select :department, ['F&I', 'Sales', 'Service', 'Unassigned'] %>
    <% end %>

    <% if f.object.new_record? %>
      <%= f.password_field :password, label: 'Password *' %>
      <%= f.password_field :password_confirmation, label: 'Password Confirmation *' %>
    <% end %>

    <%= f.primary ( f.object.new_record? ?  'Create User' :
    'Save Changes' ) %>

  <% end %>
</div>
</div>
