<% provide(:title, "#{@user.first_name} #{@user.last_name.each_char.first}.") %>

<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>

<% if current_user.department == 'Manager' %>
  <ul class='pull-right'>
    <% if @user.active? %>
      <%= bootstrap_form_for @user do |f| %>
        <%= f.hidden_field :active, value: false %>
        <%= f.submit 'Deactivate' %>
      <% end %>
    <% else %>
      <%= bootstrap_form_for @user do |f| %>
        <%= f.hidden_field :active, value: true %>
        <%= f.submit 'Activate'  %>
      <% end %>
    <% end %>
  </ul>
  <ul class='pull-right'>
    <% if @user.department == 'Manager' %>
      <%= bootstrap_form_for @user do |f| %>
        <%= f.hidden_field :department, value: 'Unassigned' %>
        <%= f.submit 'Remove Admin' %>
      <% end %>
    <% else %>
      <%= bootstrap_form_for @user do |f| %>
        <%= f.hidden_field :department, value: 'Manager' %>
        <%= f.submit 'Add Admin' %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<br> <br>

<div class='table-responsive'>
  <table class='table table-bordered table-condensed' >
    <tr>
    <th style='width:25%'>First Name</th>
      <td><%= @user.first_name %></td>
    </tr>
    <tr>
    <th>Last Name</th>
      <td><%= @user.last_name %></td>
    </tr>
    <tr>
      <th> Email </th>
      <td>
      <%= mail_to "#{@user.email}" do %>
        <span> <%= @user.email %> </span>
      <% end %>
      </td>
    </tr>
    <tr>
    <th>Phone</th>
      <td><%= @user.phone_number %></td>
    </tr>
    <tr>
    <th>Active</th>
      <td><%= boolean_to_words(@user.active) %></td>
    </tr>
    <th>Admin</th>
      <td><%= admin_to_words(@user.department) %></td>
    </tr>
    <tr>
    <th>Department</th>
      <td><%= @user.department %></td>
    </tr>
  </table>
</div>

<div id='userformbutton'>
<%=link_to 'Edit Information', edit_user_path(@user),
    class: 'btn btnfix btn-primary btn-sm'%>
</div>
