<% provide(:title, 'Password Reset') %>
<br><br><br><br><br><br><br>

<div style='width: 30%; margin: auto;'>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <h3 class='panel-title'>
        <span class='fa fa-life-ring'></span> Password Reset
      </h3>
    </div>
    <div class='panel-body'>
      <%= bootstrap_form_for(resource,
                             :as => resource_name,
                             :url => password_path(resource_name),
                             :html => { :method => :put },
                             style: :horizontal,
                             left: 'col-sm-4',
                             right: 'col-sm-8') do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
        <%= f.password_field :password, :autofocus => true %>
        <%= f.password_field :password_confirmation %>
        <%= f.submit "Set Password" %>
      <% end %>
      <div class='hidden-xs'><hr></div>
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
