<% provide(:title, 'Forgot Your Password?') %>

<div class='box-position'>
  <center>
    <p class='header-font'>WeOwePro</p>
  </center>
  <div class='fixwidth box'>
    <%= bootstrap_form_for(resource,
                           :as => resource_name,
                           :url => password_path(resource_name),
                           :html => { :method => :post },
                           style: :horizontal,
                           left: 'col-sm-4',
                           right: 'col-sm-8') do |f| %>
      <%= devise_error_messages! %>
      <center><h4>Forgot Your Password?</h4></center><hr>
      <%= f.email_field :email, :autofocus => true, hide_label: true, placeholder: 'Email' %>
      <center>
        <%= f.submit 'Reset My Password', class: 'devise-buttons' %>
      </center>
    <% end %>
    <hr>
    <%= render "devise/shared/links" %>
    <div class='visible-xs'>
      <br>
      <%= render "devise/shared/mobile_footer" %>
    </div>
  </div>
</div>
