<% provide(:title, 'Forgot Your Password?') %>
<br><br><br><br><br><br><br>

<div style='width: 30%; margin: auto;'>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <h3 class='panel-title'>
        <span class='fa fa-question-circle'></span> Forgot Your Password?
      </h3>
    </div>
    <div class='panel-body'>
      <%= bootstrap_form_for(resource,
                             :as => resource_name,
                             :url => password_path(resource_name),
                             :html => { :method => :post },
                             style: :horizontal,
                             left: 'col-sm-4',
                             right: 'col-sm-8') do |f| %>
        <%= devise_error_messages! %>
        <%= f.email_field :email, :autofocus => true %>
        <%= f.submit 'Reset Password' %>
      <% end %>
      <div class='hidden-xs'><hr></div>
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
