<% provide(:title, 'Forgot Your Password?') %>
<br><br><br>

<div class='userform well'>
  <div class='userform'>
    <center>
      <h1> Forgot Your Password? </h1>
    </center>

    <%= bootstrap_form_for(resource,
                           :as => resource_name,
                           :url => password_path(resource_name),
                           :html => { :method => :post },
                           style: :horizontal,
                           left: 'col-sm-4',
                           right: 'col-sm-8') do |f| %>
      <%= devise_error_messages! %>
      <%= f.email_field :email, :autofocus => true %>
      <%= f.primary 'Send me reset password instructions' %>
    <% end %>

    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<br><br><br>
