<table class='table table-bordered table-condensed fixtable' >
  <thead>
    <tr>
      <th>Stock #</th>
      <th class='hidden-xs'>Date</th>
      <th>Salesperson</th>
      <th>Customer</th>
      <th>Value</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @activity.each do |item| %>
      <tr>
        <td><%= link_to item.stock_number, item %></td>
        <td class='hidden-xs'><%= item.created_at.strftime('%-m/%-d/%Y') %></td>
        <td><%= User.find(item.user_id).last_name %></td>
        <td><%= item.customer_last_name %></td>
        <td><%= number_to_currency(item.dealer_total_value) %></td>
        <% if item.pending == true && item.completed == false %>
          <td class='danger'> Sales </td>
          <% elsif item.pending == false && item.completed == false %>
            <td class='warning'> Service </td>
          <% else %>
            <td class='success'> Completed </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

