<div class='userform well'>
  <%= bootstrap_form_for(@weowe_form,
    layout: :horizontal, label_col: 'col-sm-4', control_col: 'col-sm-8') do |f| %>

    <%= render 'shared/error_messages_weowe_forms' %>

    <legend><%= legend %></legend>

    <center><h4>Customer Information</h4></center>

    <%= f.text_field :customer_first_name, label: 'First Name *' %>
    <%= f.text_field :customer_last_name, label: 'Last Name *' %>
    <%= f.text_field :customer_phone_mobile, label: 'Mobile #' %>
    <%= f.text_field :customer_email, label: 'Email' %>

    <center><h4>Vehicle Information</h4></center>
    <%= f.text_field :stock_number, label: 'Stock Number *' %>
    <%= f.select :year,
                 options_for_select((1980..2014).to_a.reverse!),
                 label: 'Year *' %>
    <%= f.text_field :make, label: 'Make *' %>
    <%= f.text_field :vehicle_model, label: 'Model *' %>
    <%= f.text_field :color, label: 'Color *' %>
    <%= f.date_select :sold_date,
      label: 'Date Sold *' %>

    <center><h4>We Owe *</h4></center>
    <%= f.text_area :weowe_info, hide_label: :true, size: '2x' %>
    <%= f.text_field :dealer_parts_value, prepend: '$', label: 'Parts Value' %>
    <%= f.text_field :dealer_labor_value, prepend: '$', label: 'Labor Value' %>
    <br>

    <center><h4>Customer Owes</h4></center>
    <%= f.text_area :theyowe_info, hide_label: :true, size: '2x' %>
    <%= f.text_field :customer_total_value, prepend: '$', label: 'Total Value' %>

    <center><h4>Customer Signature *</h4></center>
    <%= f.text_field :customer_signature, hide_label: :true %>

    <% unless f.object.new_record? %>
        <center><h4>Admin Fields</h4></center>
          <%= f.date_select :custom_date,
            label: 'Date Submitted' %>
    <% end %>

    <%= f.primary ( f.object.new_record? ?  'Submit Form' :
    'Save Changes' ) %>

  <% end %>
</div>
</div>
