<div class='userform well'>
  <%= bootstrap_form_for(@weowe_form) do |f| %>

    <%= render 'shared/error_messages_weowe_forms' %>

    <legend><%= legend %></legend>

    <center><h4>Customer Information</h4></center>

    <%= f.text_field :customer_first_name, label: 'First Name *' %>
    <%= f.text_field :customer_last_name, label: 'Last Name *' %>
    <%= f.text_field :customer_phone_mobile, label: 'Mobile #' %>
    <%= f.text_field :customer_email, label: 'Email' %>

    <center><h4>Customer Owes</h4></center>
    <%= f.text_area :theyowe_info, label: 'Description', size: '1x' %>
    <%= f.text_field :customer_total_value, prepend: '$', label: 'Total Value' %>

    <center><h4>Vehicle Information</h4></center>
    <%= f.text_field :stock_number, label: 'Stock # *' %>
    <%= f.select :year,
                 options_for_select((1980..2014).to_a.reverse!),
                 label: 'Year *' %>
    <%= f.text_field :make, label: 'Make *' %>
    <%= f.text_field :vehicle_model, label: 'Model *' %>
    <%= f.text_field :color, label: 'Color *' %>
    <%= f.date_select :sold_date,
      label: 'Date Sold *' %>

    <center><h4>We Owe *</h4></center>

    <div class='row'>
      <div class='col-md-6 col-xs-18'>
        <%= f.text_field :description_1, label: 'Description', placeholder: 'Item #1' %>
      </div>
      <div class='col-md-2 col-xs-4'>
        <%= f.select :quantity_1,
                     options_for_select((1..10).to_a),
                     {include_blank: true, label: 'Quantity'} %>
      </div>
      <div class='col-md-4 col-xs-8'>
        <%= f.text_field :dealer_total_value_1, prepend: '$', label: 'Total Value' %>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6 col-xs-18'>
        <%= f.text_field :description_2, label: 'Description', placeholder: 'Item #2' %>
      </div>
      <div class='col-md-2 col-xs-4'>
        <%= f.select :quantity_2,
                     options_for_select((1..10).to_a),
                     {include_blank: true, label: 'Quantity'} %>
      </div>
      <div class='col-md-4 col-xs-8'>
        <%= f.text_field :dealer_total_value_1, prepend: '$', label: 'Total Value' %>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6 col-xs-18'>
        <%= f.text_field :description_1, label: 'Description', placeholder: 'Item #3' %>
      </div>
      <div class='col-md-2 col-xs-4'>
        <%= f.select :quantity_1,
                     options_for_select((1..10).to_a),
                     {include_blank: true, label: 'Quantity'} %>
      </div>
      <div class='col-md-4 col-xs-8'>
        <%= f.text_field :dealer_total_value_1, prepend: '$', label: 'Total Value' %>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6 col-xs-18'>
        <%= f.text_field :description_1, label: 'Description', placeholder: 'Item #4' %>
      </div>
      <div class='col-md-2 col-xs-4'>
        <%= f.select :quantity_1,
                     options_for_select((1..10).to_a),
                     {include_blank: true, label: 'Quantity'} %>
      </div>
      <div class='col-md-4 col-xs-8'>
        <%= f.text_field :dealer_total_value_1, prepend: '$', label: 'Total Value' %>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6 col-xs-18'>
        <%= f.text_field :description_1, label: 'Description', placeholder: 'Item #5' %>
      </div>
      <div class='col-md-2 col-xs-4'>
        <%= f.select :quantity_1,
                     options_for_select((1..10).to_a),
                     {include_blank: true, label: 'Quantity'} %>
      </div>
      <div class='col-md-4 col-xs-8'>
        <%= f.text_field :dealer_total_value_1, prepend: '$', label: 'Total Value' %>
      </div>
    </div>

    <% unless f.object.new_record? %>
        <center><h4>Admin Fields</h4></center>
          <%= f.date_select :custom_date, label: 'Date Submitted' %>
    <% end %>

    <%= f.primary ( f.object.new_record? ?  'Submit Form' :
    'Save Changes' ) %>

  <% end %>
</div>
</div>
