<div ng-app='weowepro'>
  <div ng-controller='WeoweFormsCtrl'>
    <div class='userform well'>
      <%= bootstrap_form_for(@weowe_form) do |f| %>

        <% if f.object.new_record? %>
          <div ng-init='selected = <%= current_user.to_json %>'>
        <% end %>

        <h1 class='hidden-xs'><%= legend %></h1>
        <center><h3 class='visible-xs'><%= legend %></h3></center>

        <center><h4>Assigned Sales Person</h4></center>

        <div class='input-group'>
          <input type='text'
                 ng-model='selected'
                 typeahead="user as user.last_name + ', ' + user.first_name for user in ::salesStaff
                           | filter:$viewValue
                           | limitTo:8"
                 placeholder='Assign Sales Person'
                 class='form-control'>
          <span class='input-group-addon'>
            <i ng-click="selected = ''" class="fa fa-times fa-lg"> Clear Name</i>
          </span>
        </div>

        <% if f.object.new_record? %>
          <%= f.hidden_field :assigned_sales_person_id, value: "{{selected.id}}" %>
        <% end %>

        <center><h4>Customer Information</h4></center>

        <%= f.text_field :customer_first_name, label: 'First Name (Optional)',
                         placeholder: 'First Name (Optional)' %>
        <%= f.text_field :customer_last_name, label: 'Last Name / Company *',
                         placeholder: 'Last Name / Company *' %>
        <%= f.text_field :customer_phone_mobile, label: 'Phone Number',
                         placeholder: 'Phone Number' %>
        <%= f.text_field :customer_email, label: 'Email',
                         placeholder: 'Email' %>

        <center><h4>Customer Owes</h4></center>
        <%= f.text_area :theyowe_info, label: 'Description', size: '1x',
                        placeholder: 'Description' %>
        <%= f.text_field :customer_total_value, prepend: '$', label: 'Total Value',
                         placeholder: 'Total Value' %>

        <center><h4>Vehicle Information</h4></center>
        <%= f.text_field :stock_number, label: 'Stock# *',
                         placeholder: 'Stock# *' %>
        <%= f.select :year,
                     options_for_select((1980..2014).to_a.reverse!),
                     label: 'Year *' %>
        <%= f.text_field :make, label: 'Make *',
                         placeholder: 'Make *' %>
        <%= f.text_field :vehicle_model, label: 'Model *',
                         placeholder: 'Model *' %>
        <%= f.date_select :sold_date,
          label: 'Date Sold *' %>

        <center><h4>We Owe</h4></center>

        <div class='row'>
          <div class='col-md-10 col-xs-8'>
            <%= f.text_field :description_1, label: 'Description', placeholder: 'Item #1 (Max 300 Characters)' %>
          </div>
          <div class='col-md-2 col-xs-4'>
            <%= f.text_field :quantity_1, label: 'Quantity',
                             placeholder: 'Qty' %>
          </div>
          <div class='col-md-6 col-xs-6'>
            <%= f.text_field :dealer_total_value_1, prepend: '$', label: 'Retail',
                             placeholder: 'Retail' %>
          </div>

          <div class='col-md-6 col-xs-6'>
            <%= f.text_field :dealer_wholesale_1, prepend: '$', label: 'Wholesale',
                             placeholder: 'Wholesale' %>
          </div>
        </div>

        <hr>

        <div class='row'>
          <div class='col-md-10 col-xs-8'>
            <%= f.text_field :description_2, label: 'Description', placeholder: 'Item #2 (Max 150 Characters)' %>
          </div>
          <div class='col-md-2 col-xs-4'>
            <%= f.text_field :quantity_2, label: 'Quantity',
                             placeholder: 'Qty' %>
          </div>
          <div class='col-md-6 col-xs-6'>
            <%= f.text_field :dealer_total_value_2, prepend: '$', label: 'Retail',
                             placeholder: 'Retail' %>
          </div>

          <div class='col-md-6 col-xs-6'>
            <%= f.text_field :dealer_wholesale_2, prepend: '$', label: 'Wholesale',
                             placeholder: 'Wholesale' %>
          </div>
        </div>

        <hr>

        <div class='row'>
          <div class='col-md-10 col-xs-8'>
            <%= f.text_field :description_3, label: 'Description', placeholder: 'Item #3 (Max 150 Characters)' %>
          </div>
          <div class='col-md-2 col-xs-4'>
            <%= f.text_field :quantity_3, label: 'Quantity',
                             placeholder: 'Qty' %>
          </div>
          <div class='col-md-6 col-xs-6'>
            <%= f.text_field :dealer_total_value_3, prepend: '$', label: 'Retail',
                             placeholder: 'Retail' %>
          </div>

          <div class='col-md-6 col-xs-6'>
            <%= f.text_field :dealer_wholesale_3, prepend: '$', label: 'Wholesale',
                             placeholder: 'Wholesale' %>
          </div>
        </div>

        <hr>

        <div class='row'>
          <div class='col-md-10 col-xs-8'>
            <%= f.text_field :description_4, label: 'Description', placeholder: 'Item #4 (Max 150 Characters)' %>
          </div>
          <div class='col-md-2 col-xs-4'>
            <%= f.text_field :quantity_4, label: 'Quantity',
                             placeholder: 'Qty' %>
          </div>
          <div class='col-md-6 col-xs-6'>
            <%= f.text_field :dealer_total_value_4, prepend: '$', label: 'Retail',
                             placeholder: 'Retail' %>
          </div>

          <div class='col-md-6 col-xs-6'>
            <%= f.text_field :dealer_wholesale_4, prepend: '$', label: 'Wholesale',
                             placeholder: 'Wholesale' %>
          </div>
        </div>

        <hr>

        <div class='row'>
          <div class='col-md-10 col-xs-8'>
            <%= f.text_field :description_5, label: 'Description', placeholder: 'Item #5 (Max 150 Characters)' %>
          </div>
          <div class='col-md-2 col-xs-4'>
            <%= f.text_field :quantity_5, label: 'Quantity',
                             placeholder: 'Qty' %>
          </div>
          <div class='col-md-6 col-xs-6'>
            <%= f.text_field :dealer_total_value_5, prepend: '$', label: 'Retail',
                             placeholder: 'Retail' %>
          </div>

          <div class='col-md-6 col-xs-6'>
            <%= f.text_field :dealer_wholesale_5, prepend: '$', label: 'Wholesale',
                             placeholder: 'Wholesale' %>
          </div>
        </div>

        <hr>

        <% unless f.object.new_record? %>
            <center><h4>Admin Fields</h4></center>
              <%= f.date_select :custom_date, label: 'Date Submitted' %>
        <% end %>

        <%= f.hidden_field :custom_date, value: Time.now %>

        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :dealer_id, value: current_user.dealer_id %>

        <% if @weowe_form.new_record?() %>
          <button type='submit' class='btn btn-block btn-primary'>
            <i class='fa fa-check'></i> Submit Form
          </button>
        <% else %>
          <button type='submit' class='btn btn-block btn-primary'>
            <i class='fa fa-refresh'></i> Update Form
          </button>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
</div>
  </div>
</div>
