<center><h4 class='visible-xs'>Users</h4></center>

<div style='float:left;width:150px' class='hidden-xs'>
  <table class='table table-bordered table-condensed' style='text-align: center;'>
    <% if @weowe_form.pending == true && @weowe_form.completed == false %>
      <td class='danger'> Status: Sales </td>
      <% elsif @weowe_form.pending == false && @weowe_form.completed == false %>
        <td class='warning'> Status: Service </td>
      <% else %>
        <td class='success'> Status: Completed </td>
    <% end %>
  </table>
</div>

<div class='visible-xs'>
  <table class='table table-bordered table-condensed' style='text-align: center;'>
    <% if @weowe_form.pending == true && @weowe_form.completed == false %>
      <td class='danger'> Status: Sales </td>
      <% elsif @weowe_form.pending == false && @weowe_form.completed == false %>
        <td class='warning'> Status: Service </td>
      <% else %>
        <td class='success'> Status: Completed </td>
    <% end %>
  </table>
</div>

<div class='hidden-xs'>
  <% if current_user.admin? %>
    <ul class='pull-right'>
      <% if @weowe_form.pending == true && @weowe_form.completed == false %>
        <%= bootstrap_form_for @weowe_form do |f| %>
          <%= f.hidden_field :pending, value: false %>
          <%= f.hidden_field :completed, value: false %>
          <%= f.submit 'Approve', :class =>
          'btn btnfix btn-warning btn-sm' %>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <% if current_user.admin? || current_user.department = 'Service' %>
    <ul class='pull-right'>
      <% if @weowe_form.pending == false && @weowe_form.completed == false %>
        <%= bootstrap_form_for @weowe_form do |f| %>
          <%= f.hidden_field :completed, value: true %>
          <%= f.hidden_field :pending, value: false %>
          <%= f.submit 'Complete', :class =>
                         'btn btnfix btn-success btn-sm'  %>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <ul class='pull-right'>
  <%= link_to_function('Print this Page', 'javascript:print()', :class =>
                       'btn btnfix btn-default btn-sm') %>
  </ul>

  <% if current_user.admin? %>
    <ul class='pull-right'>
      <% if @weowe_form.pending == false && @weowe_form.completed == false %>
        <%= bootstrap_form_for @weowe_form do |f| %>
          <%= f.hidden_field :pending, value: true %>
          <%= f.hidden_field :completed, value: false %>
          <%= f.submit 'Return to Sales', :class =>
                       'btn btnfix btn-danger btn-sm' %>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <% if current_user.admin? || current_user.department = 'Service' %>
    <ul class='pull-right'>
      <% if @weowe_form.pending == false && @weowe_form.completed == true %>
        <%= bootstrap_form_for @weowe_form do |f| %>
          <%= f.hidden_field :completed, value: false %>
          <%= f.hidden_field :pending, value: false %>
          <%= f.submit 'Return to Service', :class =>
                         'btn btnfix btn-warning btn-sm' %>
        <% end %>
      <% end %>
    </ul>
  <% end %>

</div>

<div class='visible-xs'>
  <% if current_user.admin? || current_user.department = 'Service' %>
    <div class='pull-right'>
      <% if @weowe_form.pending == true && @weowe_form.completed == false %>
        <%= bootstrap_form_for @weowe_form do |f| %>
          <%= f.hidden_field :pending, value: false %>
          <%= f.hidden_field :completed, value: false %>
          <%= f.submit 'Approve', :class =>
          'btn btnfix btn-warning btn-sm' %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if current_user.admin? || current_user.department = 'Service' %>
    <div class='pull-right'>
      <% if @weowe_form.pending == false && @weowe_form.completed == false %>
        <%= bootstrap_form_for @weowe_form do |f| %>
          <%= f.hidden_field :completed, value: true %>
          <%= f.hidden_field :pending, value: false %>
          <%= f.submit 'Complete', :class =>
                         'btn btnfix btn-success btn-sm'  %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if current_user.admin? %>
    <div class='pull-left'>
      <% if @weowe_form.pending == false && @weowe_form.completed == false %>
        <%= bootstrap_form_for @weowe_form do |f| %>
          <%= f.hidden_field :pending, value: true %>
          <%= f.hidden_field :completed, value: false %>
          <%= f.submit 'Return to Sales', :class =>
                       'btn btnfix btn-danger btn-sm' %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if current_user.admin? || current_user.department = 'Service' %>
    <div class='pull-left'>
      <% if @weowe_form.pending == false && @weowe_form.completed == true %>
        <%= bootstrap_form_for @weowe_form do |f| %>
          <%= f.hidden_field :completed, value: false %>
          <%= f.hidden_field :pending, value: false %>
          <%= f.submit 'Return to Service', :class =>
                         'btn btnfix btn-warning btn-sm' %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <br> <br>

  <div class='pull-left '>
    <div id='userformbutton'>
    <%=link_to 'Edit Form', edit_weowe_form_path(@weowe_form),
        class: 'btn btnfix btn-primary btn-sm'%>
    </div>
  </div>

  <div class='pull-right'>
    <div id='userformbutton'>
    <%=link_to 'Delete Form', @weowe_form, method: :delete,
     data: { confirm: 'Are you sure?' },
        class: 'btn btnfix btn-default btn-sm'%>
    </div>
  </div>
</div>

<div class='hidden-xs'><br></div><br><br>

<h4> Customer Information </h4>
  <table class='table table-bordered table-condensed' >
    <tr>
    <th style='width:25%'>First Name</th>
      <td><%= @weowe_form.customer_first_name %></td>
    </tr>
    <tr>
    <th>Last Name</th>
      <td><%= @weowe_form.customer_last_name %></td>
    </tr>
    <tr>
    <th>Mobile #</th>
      <td><%= phone_number_link(@weowe_form.customer_phone_mobile) %></td>
    </tr>
    <tr>
    <tr>
      <th> Email </th>
      <td>
      <%= mail_to "#{@weowe_form.customer_email}" do %>
        <span> <%= @weowe_form.customer_email %> </span>
      <% end %>
      </td>
    </tr>

  </table>

<h4> Vehicle Information </h4>
  <table class='table table-bordered table-condensed' >
    <tr>
    <th style='width:25%'>Stock Number</th>
      <td><%= @weowe_form.stock_number %></td>
    </tr>
    <tr>
    <th>Year</th>
      <td><%= @weowe_form.year%></td>
    </tr>
    <tr>
    <th>Make</th>
      <td><%= @weowe_form.make %></td>
    </tr>
    <tr>
    <th>Model</th>
      <td><%= @weowe_form.vehicle_model %></td>
    </tr>
    <tr>
    <th>Color</th>
      <td><%= @weowe_form.color %></td>
    </tr>
    <tr>
    <th>Date Sold</th>
      <td><%= @weowe_form.sold_date.strftime('%-m/%-d/%Y') %></td>
    </tr>
  </table>

<h4> We Owe </h4>
<table class='table table-bordered table-condensed' >
  <tr><th>#</th><th>Description</th><th>Quantity</th><th>Total Cost </th></tr>
    <% if @weowe_form.description_1? %>
      <tr>
        <th style='width:25%'>1</th>
        <td><%= @weowe_form.description_1 %></td>
        <td><%= @weowe_form.quantity_1 %></td>
        <td><%= number_to_currency(@weowe_form.dealer_total_value_1) %></td>
      </tr>
    <% end %>
    <% if @weowe_form.description_2? %>
      <tr>
        <th>2</th>
        <td><%= @weowe_form.description_2 %></td>
        <td><%= @weowe_form.quantity_2 %></td>
        <td><%= number_to_currency(@weowe_form.dealer_total_value_2) %></td>
      </tr>
    <% end %>
    <% if @weowe_form.description_3? %>
      <tr>
        <th>3</th>
        <td><%= @weowe_form.description_3 %></td>
        <td><%= @weowe_form.quantity_3 %></td>
        <td><%= number_to_currency(@weowe_form.dealer_total_value_3) %></td>
      </tr>
    <% end %>
    <% if @weowe_form.description_4? %>
      <tr>
        <th>4</th>
        <td><%= @weowe_form.description_4 %></td>
        <td><%= @weowe_form.quantity_4 %></td>
        <td><%= number_to_currency(@weowe_form.dealer_total_value_4) %></td>
      </tr>
    <% end %>
    <% if @weowe_form.description_5? %>
      <tr>
        <th>5</th>
        <td><%= @weowe_form.description_5 %></td>
        <td><%= @weowe_form.quantity_5 %></td>
        <td><%= number_to_currency(@weowe_form.dealer_total_value_5) %></td>
      </tr>
    <% end %>

     <tr class='success'>
      <th>Totals</th>
      <td>N/A</td>
      <td>N/A</td>
      <td>
        <%= number_to_currency(@weowe_form.dealer_total_value) %>
      </td>
    </tr>
</table>

<h4> Customer Owes </h4>
  <table class='table table-bordered table-condensed' >
    <tr>
      <th style='width:25%'>Description</th>
      <td><%= @weowe_form.theyowe_info %></td>
    </tr>
    <tr>
      <th>Total Value</th>
      <td><%= number_to_currency(@weowe_form.customer_total_value) %></td>
    </tr>
  </table>

<h4> Sales Person </h4>
<table class='table table-bordered table-condensed' >
  <tr>
    <th style='width:25%'>First Name </th>
    <td><%= User.find(@weowe_form.user_id).first_name %></td>
  </tr>
  <tr>
    <th>Last Name </th>
    <td><%= User.find(@weowe_form.user_id).last_name %></td>
  </tr>
</table>

<% if @weowe_form.pending == true && @weowe_form.completed == false %>
  <ul class='pull-left'>
    <div id='userformbutton'>
      <%= link_to 'Send Approve Email',
                  { controller: 'weowe_forms', action: 'approve_form',
                  :id => @weowe_form.id},
                  method: :post,
                  class: "btn btnfix btn-info btn-sm" %>
    </div>
  </ul>
<% end %>

<% if @weowe_form.pending == false && @weowe_form.completed == false %>
  <ul class='pull-left'>
    <div id='userformbutton'>
      <%= link_to 'Send Completed Email',
                  { controller: 'weowe_forms', action: 'complete_form',
                  :id => @weowe_form.id},
                  method: :post,
                  class: "btn btnfix btn-info btn-sm" %>
    </div>
  </ul>
<% end %>

<ul class='pull-left hidden-xs'>
  <div id='userformbutton'>
  <%=link_to 'Edit Form', edit_weowe_form_path(@weowe_form),
      class: 'btn btnfix btn-primary btn-sm'%>
  </div>
</ul>

<ul class='pull-left hidden-xs'>
  <div id='userformbutton'>
  <%=link_to 'Delete Form', @weowe_form, method: :delete,
   data: { confirm: 'Are you sure?' },
      class: 'btn btnfix btn-danger btn-sm'%>
  </div>
</ul>

<br><br>

