<h1><%= "Form #{@weowe_form.id}" %></h1>
<% if current_user.department = 'Manager' %>

  <ul class='pull-right'>
    <% if @weowe_form.pending == true && @weowe_form.completed == false %>
      <%= bootstrap_form_for @weowe_form do |f| %>
        <%= f.hidden_field :pending, value: false %>
        <%= f.hidden_field :completed, value: false %>
        <%= f.submit 'Approve', :class =>
        'btn btnfix btn-success btn-sm' %>
      <% end %>
    <% end %>
  </ul>


<% end %>

<% if current_user.department = 'Manager' || current_user.department = 'Service' %>
  <ul class='pull-right'>
    <% if @weowe_form.pending == false && @weowe_form.completed == false %>
      <%= bootstrap_form_for @weowe_form do |f| %>
        <%= f.hidden_field :completed, value: true %>
        <%= f.hidden_field :pending, value: false %>
        <%= f.submit 'Complete', :class =>
                       'btn btnfix btn-success btn-sm'  %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<ul class='pull-right'>
<%= link_to_function('Print this Page', 'javascript:print()', :class =>
                     'btn btnfix btn-default btn-sm') %>
</ul>

<% if current_user.department = 'Manager' %>
  <ul class='pull-right'>
    <% if @weowe_form.pending == false && @weowe_form.completed == false %>
      <%= bootstrap_form_for @weowe_form do |f| %>
        <%= f.hidden_field :pending, value: true %>
        <%= f.hidden_field :completed, value: false %>
        <%= f.submit 'Return to Sales', :class =>
                     'btn btnfix btn-danger btn-sm' %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if current_user.department = 'Manager' || current_user.department = 'Service' %>
  <ul class='pull-right'>
    <% if @weowe_form.pending == false && @weowe_form.completed == true %>
      <%= bootstrap_form_for @weowe_form do |f| %>
        <%= f.hidden_field :completed, value: false %>
        <%= f.hidden_field :pending, value: false %>
        <%= f.submit 'Return to Service', :class =>
                       'btn btnfix btn-danger btn-sm' %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<br><br><br>

<div class='table-responsive'>
  <h4> Customer Information </h4>
    <table class='table table-bordered table-condensed' >
      <tr>
      <th style='width:25%'>First Name</th>
        <td><%= @weowe_form.customer_first_name %></td>
      </tr>
      <tr>
      <th>Last Name</th>
        <td><%= @weowe_form.customer_last_name %></td>
      </tr>
      <tr>
      <th>Mobile #</th>
        <td><%= phone_number_link(@weowe_form.customer_phone_mobile) %></td>
      </tr>
      <tr>
      <tr>
        <th> Email </th>
        <td>
        <%= mail_to "#{@weowe_form.customer_email}" do %>
          <span> <%= @weowe_form.customer_email %> </span>
        <% end %>
        </td>
      </tr>

    </table>

<h4> Vehicle Information </h4>
    <table class='table table-bordered table-condensed' >
      <tr>
      <th style='width:25%'>Stock Number</th>
        <td><%= @weowe_form.stock_number %></td>
      </tr>
      <tr>
      <th>Year</th>
        <td><%= @weowe_form.year%></td>
      </tr>
      <tr>
      <th>Make</th>
        <td><%= @weowe_form.make %></td>
      </tr>
      <tr>
      <th>Model</th>
        <td><%= @weowe_form.vehicle_model %></td>
      </tr>
      <tr>
      <th>Color</th>
        <td><%= @weowe_form.color %></td>
      </tr>
      <tr>
      <th>Date Sold</th>
        <td><%= @weowe_form.sold_date.strftime('%-m/%-d/%Y') %></td>
      </tr>
    </table>

<h4> We Owe </h4>
  <table class='table table-bordered table-condensed' >
    <tr><th>#</th><th>Description</th><th>Quantity</th><th>Total Cost </th></tr>
    <% @weowe_form.weowe_items.each_with_index do |item, index| %>
          <tr>
            <th> <%= index + 1 %> </th>
            <td><%= item.description %></td>
            <td><%= item.quantity %></td>
            <td><%= number_to_currency(item.parts_value) %></td>
          </tr>
      <% end %>
      <tr class='success'>
        <th>Totals</th>
        <td>N/A</td>
        <td><%= WeoweItem.sum(:quantity,
                              conditions: {weowe_form_id: [@weowe_form.id]}) %>
        </td>
        <td><%= number_to_currency(WeoweItem.sum(:parts_value,
                                  conditions: {weowe_form_id: [@weowe_form.id]})) %>
        </td>
      </tr>
  </table>

  <div> <%= @weowe_form.weowe_items.sum(:parts_value) %> </div>

<h4> Customer Owes </h4>
    <table class='table table-bordered table-condensed' >
      <tr>
      <th style='width:25%'>Description</th>
        <td><%= @weowe_form.theyowe_info %></td>
      </tr>
      <th>Total Value</th>
        <td><%= number_to_currency(@weowe_form.customer_total_value) %></td>
      </tr>
    </table>

<h4> Sales Person </h4>
  <table class='table table-bordered table-condensed' >
    <tr>
    <th style='width:25%'>First Name </th>
      <td><%= User.find(@weowe_form.user_id).first_name %></td>
    </tr>
    <th>Last Name </th>
      <td><%= User.find(@weowe_form.user_id).last_name %></td>
    </tr>
  </table>

  <ul class='pull-left'>
    <div id='userformbutton'>
    <%=link_to 'Edit Form', edit_weowe_form_path(@weowe_form),
        class: 'btn btnfix btn-primary btn-sm'%>
    </div>
  </ul>

  <ul class='pull-left'>
    <div id='userformbutton'>
    <%=link_to 'Delete Form', @weowe_form, method: :delete,
     data: { confirm: 'Are you sure?' },
        class: 'btn btnfix btn-danger btn-sm'%>
    </div>
  </ul>
  <br>
</div>
