<fieldset>
  <div class='col-md-11'>
    <%= f.text_field :description, label: 'Description' %>
    <%= f.select :quantity,
                 options_for_select((1..10).to_a),
                 label: 'Quantity' %>
    <%= f.text_field :parts_value, prepend: '$', label: 'Total Cost' %>
  </div>
  <div class='col-md-1 remove'>
    <%= f.hidden_field :_destroy %>
    <%= link_to raw('<i class="glyphicon glyphicon-remove glyphicon-2x"></i> Delete'),
      '#', class: 'remove_fields' %>
  </div>
</fieldset>
