<% provide(:title, 'Dashboard') %>

<center>
  <div class='jumbotron hidden-xs'>
    <h1>We Owe Pro Dashboard</h1>
  </div>
  <div class='hidden-xs'>
    <h3>Recent Activity</h3>
    <br>
    <%= render 'dashboard' %>
    <br><br>
    <div class='btn-group'>
      <% if current_user.admin? %>
        <%= link_to 'New Form', new_weowe_form_path,
          class: 'btn btn-primary btn-fix-width', role: 'button' %>
      <% end %>
      <%= link_to 'Sales', pending_path,
        class: 'btn btn-danger btn-fix-width', role: 'button' %>
      <%= link_to 'Service', weowe_forms_path,
        class: 'btn btn-warning btn-fix-width', role: 'button' %>
      <%= link_to 'Completed', completed_path,
        class: 'btn btn-success btn-fix-width', role: 'button' %>
    </div>


  </div>

  <div class='visible-xs'>
    <h3>Dashboard</h3>
    <h4>Most Recent Form Status</h4>
    <%= render 'dashboard' %>
    <br><br>
  </div>
</center>
