<% provide(:title, 'Dashboard') %>
<div ng-app='weowepro'>
  <div ng-controller='WeoweFormsCtrl'>
    <center>
      <div class='jumbotron'>
        <h1>We Owe Pro Dashboard</h1>
      </div>

      <h3>Recent Activity</h3>
      <br>

      <table class='table'>
          <thead>
          <tr>
            <th>Stock #</th>
            <th>Customer</th>
            <th class='hidden-xs'>Retail</th>
            <th class='hidden-xs'>Wholesale</th>
            <th class='hidden-xs'>Actual</th>
            <th>Status</th>
            <th class='hidden-xs'>Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="form in weoweForms | orderBy: '-custom_date' | limitTo:5">
            <td>{{::form.stock_number}}</td>
            <td>{{::form.customer_last_name}}</td>
            <td class='hidden-xs'>{{::form.dealer_total_value | currency}}</td>
            <td class='hidden-xs'>{{::form.dealer_wholesale | currency}}</td>
            <td class='hidden-xs'>{{::form.dealer_actual_value | currency}}</td>
            <td style='color: white;' ng-class='progressBarType(form)'>{{formStatus(form)}}</td>
            <td class='hidden-xs'>{{::form.custom_date | date:'MM-dd-yyyy'}}</td>
            <td>
              <%= link_to '/weowe_forms/{{::form.id}}' do %>
                <i class='fa fa-external-link fa-lg'></i>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <br><br>
      <div class='btn-group'>
        <% if current_user.admin? %>
          <%= link_to 'New Form', new_weowe_form_path,
            class: 'btn btn-primary btn-fix-width', role: 'button' %>
        <% end %>

        <a href='/pending' class='btn btn-danger btn-fix-width' role: 'button'>
            Sales (<%= WeoweForm.where(dealer_id: current_user.dealer_id, pending: true, completed: false).count %>)
        </a>
        <a href='/weowe_forms' class='btn btn-warning btn-fix-width' role: 'button'>
            Service (<%= WeoweForm.where(dealer_id: current_user.dealer_id, pending: false, completed: false).count %>)
        </a>
        <a href='/completed' class='btn btn-success btn-fix-width' role: 'button'>
            Completed (<%= WeoweForm.where(dealer_id: current_user.dealer_id, pending: false, completed: true).count %>)
        </a>
      </div>
    </center>
  </div>
</div>
