<% provide(:title, 'Dashboard') %>

<div class='jumbotron hidden-xs'>
  <h1>We Owe Pro Dashboard</h1>
</div>
<div class='hidden-xs'>
  <center>
    <h3>Most Recent Form Status</h3>
    <br>
    <%= render 'dashboard' %>
    <br><br>
    <div class='btn-group'>
      <%= link_to 'New Form', new_weowe_form_path,
        class: 'btn btn-primary btn-fix-width', role: 'button' %>
      <% if current_user.admin? %>
        <%= link_to 'Pending Forms', pending_path,
          class: 'btn btn-warning btn-fix-width', role: 'button' %>
      <% end %>
      <%= link_to 'Open Forms', weowe_forms_path,
        class: 'btn btn-success btn-fix-width', role: 'button' %>
      <%= link_to 'Closed Forms', completed_path,
        class: 'btn btn-danger btn-fix-width', role: 'button' %>
    </div>
</center>

</div>

<div class='visible-xs'>
  <h1>Dashboard</h1>
  <br>
  <%= link_to 'New Form', new_weowe_form_path,
    class: 'btn btn-primary btn-lg btn-block', role: 'button' %>
  <br>
  <% if current_user.admin? %>
    <%= link_to 'Pending Forms', pending_path,
      class: 'btn btn-warning btn-lg btn-block', role: 'button' %>
    <br>
  <% end %>
  <%= link_to 'Open Forms', weowe_forms_path,
    class: 'btn btn-success btn-lg btn-block', role: 'button' %>
  <br>
  <%= link_to 'Closed Forms', completed_path,
    class: 'btn btn-danger btn-lg btn-block', role: 'button' %>
  <br>
    <center>
      <h3>Most Recent Form Status</h3>
      <%= render 'dashboard' %>
    </center>
    <br><br>
</div>
