<% provide(:title, 'Form Record') %>

<br>

<div id='userformbutton'>
<%=link_to 'Edit Record', edit_weowe_form_path(@weowe_form),
    class: 'btn btn-primary btn-sm'%>
</div>

<% if current_user.admin? %>
  <ul class='pull-right'>
    <% if @weowe_form.pending? %>
      <%= bootstrap_form_for @weowe_form do |f| %>
        <%= f.hidden_field :pending, value: false %>
        <%= f.submit 'Approve Form' %>
      <% end %>
    <% else %>
      <%= bootstrap_form_for @weowe_form do |f| %>
        <%= f.hidden_field :pending, value: true %>
        <%= f.submit 'Mark Pending'  %>
      <% end %>
    <% end %>
  </ul>
  <ul class='pull-right'>
    <% if @weowe_form.completed? %>
      <%= bootstrap_form_for @weowe_form do |f| %>
        <%= f.hidden_field :completed, value: false %>
        <%= f.submit 'Mark Open' %>
      <% end %>
    <% else %>
      <%= bootstrap_form_for @weowe_form do |f| %>
        <%= f.hidden_field :completed, value: true %>
        <%= f.submit 'Mark Complete' %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<br><br>

<div class='table-responsive'>

  <h4>Status</h4>
    <table class='table table-bordered table-condensed' >
      <tr>
      <th style='width:25%'>Pending Manager Approval</th>
        <td><%= boolean_to_words(@weowe_form.pending) %></td>
      </tr>
      <tr>
      <th>Form Completed</th>
        <td><%= boolean_to_words(@weowe_form.completed) %></td>
      </tr>
    </table>

  <h4> Customer Information </h4>
    <table class='table table-bordered table-condensed' >
      <tr>
      <th style='width:25%'>First Name</th>
        <td><%= @weowe_form.customer_first_name %></td>
      </tr>
      <tr>
      <th>Last Name</th>
        <td><%= @weowe_form.customer_last_name %></td>
      </tr>
      <tr>
      <th>Mobile #</th>
        <td><%= @weowe_form.customer_phone_mobile %></td>
      </tr>
      <tr>
      <th>Email</th>
        <td><%= @weowe_form.customer_email %></td>
      </tr>
    </table>

<h4> Vehicle Information </h4>
    <table class='table table-bordered table-condensed' >
      <tr>
      <th style='width:25%'>Stock Number</th>
        <td><%= @weowe_form.stock_number %></td>
      </tr>
      <tr>
      <th>Year</th>
        <td><%= @weowe_form.year%></td>
      </tr>
      <tr>
      <th>Make</th>
        <td><%= @weowe_form.make %></td>
      </tr>
      <tr>
      <th>Model</th>
        <td><%= @weowe_form.vehicle_model %></td>
      </tr>
      <tr>
      <th>Color</th>
        <td><%= @weowe_form.color %></td>
      </tr>
      <tr>
      <th>Date Sold</th>
        <td><%= @weowe_form.sold_date.strftime('%-m/%-d/%Y') %></td>
      </tr>
    </table>

<h4> We Owe </h4>
    <table class='table table-bordered table-condensed' >
      <tr>
      <th style='width:25%'>Description</th>
        <td><%= @weowe_form.weowe_info %></td>
      </tr>
            <tr>
      <th>Parts Value</th>
        <td><%= number_to_currency(@weowe_form.dealer_parts_value) %></td>
      </tr>
      <th>Labor Value</th>
        <td><%= number_to_currency(@weowe_form.dealer_labor_value) %></td>
      </tr>
      <th>Total Value</th>
        <td><%= number_to_currency(@weowe_form.dealer_total_value) %></td>
      </tr>
    </table>

<h4> Customer Owes </h4>
    <table class='table table-bordered table-condensed' >
      <tr>
      <th style='width:25%'>Description</th>
        <td><%= @weowe_form.theyowe_info %></td>
      </tr>
      <th>Total Value</th>
        <td><%= number_to_currency(@weowe_form.customer_total_value) %></td>
      </tr>
    </table>

<h4> Sales Person </h4>
  <table class='table table-bordered table-condensed' >
    <tr>
    <th style='width:25%'>First Name </th>
      <td><%= User.find(@weowe_form.user_id).first_name %></td>
    </tr>
    <th>Last Name </th>
      <td><%= User.find(@weowe_form.user_id).last_name %></td>
    </tr>
  </table>

</div>
