<% provide(:title, 'Sign In') %>
<br>

<center>
  <font size='30px'>WeOwePro</font>
</center>

<br>

<div class='userform well'>
  <div class='userform'>
    <center>
      <h4> Sign In</h4>
    </center>
    <%= bootstrap_form_for(resource, :as => resource_name,
                           :url => session_path(resource_name)) do |f| %>
      <%= f.email_field :email, :autofocus => true, icon: "user" %>
      <%= f.password_field :password %>

      <%= f.primary 'Login' %>
    <% end %>

      <div class='hidden-xs'><hr></div>
      <%= render "devise/shared/links" %>
      <div> Don't have an account? <%= link_to(' Sign Up', new_user_path) %></div>
      <div class='visible-xs'>
        <br>
        <%= render "devise/shared/mobile_footer" %>
      </div>
    </div>

  </div>
</div>
</div>
