<% provide(:title, 'Sign In') %>

<div class='box-position'>
  <center>
    <p class='header-font'>WeOwePro</p>
  </center>
  <div class='fixwidth box'>
    <%= bootstrap_form_for(resource, :as => resource_name,
                           :url => session_path(resource_name)) do |f| %>
      <center><h4>Sign In</h4></center><hr>
      <%= f.email_field :email, :autofocus => true, hide_label: :true,  placeholder: 'Email' %>
      <%= f.password_field :password, hide_label: :true, placeholder: 'Password' %>
      <center>
        <%= f.submit 'Sign In To Your Account', class: 'devise-buttons' %>
      </center>
    <% end %>
    <div class='hidden-xs'><hr></div>
    <%= render "devise/shared/links" %>
    <div class='visible-xs'>
      <br>
      <%= render "devise/shared/mobile_footer" %>
    </div>
  </div>
</div>
