<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Dealership Information</h3>
  </div>
  <div class="panel-body">
   <table class='table' >
     <tbody>
       <tr>
         <th>Name</th>
         <td class='fixtablewidthadmin'> <%= @dealer.name %> </td>
       </tr>
       <tr>
         <th>Address 1</th>
         <td class='fixtablewidthadmin'> <%= @dealer.address_1 %> </td>
       </tr>
       <tr>
         <th>Address 2</th>
         <td class='fixtablewidthadmin'> <%= @dealer.address_2 %> </td>
       </tr>
       <tr>
         <th>City</th>
         <td class='fixtablewidthadmin'> <%= @dealer.city %> </td>
       </tr>
       <tr>
         <th>State</th>
         <td class='fixtablewidthadmin'> <%= @dealer.state %> </td>
       </tr>
       <tr>
         <th>Zip</th>
         <td class='fixtablewidthadmin'> <%= @dealer.zip %> </td>
       </tr>
       <tr>
         <th>Phone Number</th>
         <td class='fixtablewidthadmin'>
           <%=phone_number_link(@dealer.phone_number) %>
         </td>
       </tr>
       <tr>
         <th>Time Zone</th>
         <td class='fixtablewidthadmin'> <%= @dealer.time_zone %> </td>
       </tr>
       <tr>
         <td> <%= link_to ' Edit', edit_dealer_path(current_user.dealer_id),
           class: 'glyphicon glyphicon-pencil' %>
         </td>
         <td></td>
       </tr>
     </tbody>
   </table>
  </div>
</div>
