<div class='panel panel-default'>
  <div class='panel-heading' style='height: 40px;'>
    <%=link_to ' Delete', @weowe_form, method: :delete,
     data: { confirm: 'Are you sure?' },
        class: 'glyphicon glyphicon-trash right-show-page'%>

    <%= link_to_function(' Print', 'javascript:print()', :class =>
                         'glyphicon glyphicon-print right-show-page') %>

    <% if @weowe_form.pending == false && @weowe_form.completed == false %>
          <%= link_to ' Email',
                      { controller: 'weowe_forms', action: 'approve_form',
                      :id => @weowe_form.id},
                      method: :post,
                      data: { confirm: 'Send Approve Email?' },
                      class: 'glyphicon glyphicon-envelope right-show-page' %>
    <% end %>

    <% if @weowe_form.pending == false && @weowe_form.completed == true %>
          <%= link_to ' Email',
                      { controller: 'weowe_forms', action: 'complete_form',
                      :id => @weowe_form.id},
                      method: :post,
                      data: { confirm: 'Send Completed Email?' },
                      class: 'glyphicon glyphicon-envelope right-show-page' %>
    <% end %>

    <%= link_to ' Edit', edit_weowe_form_path(@weowe_form),
                  class: 'glyphicon glyphicon-pencil right-show-page' %>
  </div>
  <div class='panel-body'>
    <h4> Customer Information </h4>
      <table class='table table-bordered table-condensed' >
        <tr>
        <th style='width:25%'>First Name</th>
          <td><%= @weowe_form.customer_first_name %></td>
        </tr>
        <tr>
        <th>Last Name</th>
          <td><%= @weowe_form.customer_last_name %></td>
        </tr>
        <tr>
        <th>Phone Number</th>
          <td><%= phone_number_link(@weowe_form.customer_phone_mobile) %></td>
        </tr>
        <tr>
        <tr>
          <th> Email </th>
          <td>
          <%= mail_to "#{@weowe_form.customer_email}" do %>
            <span> <%= @weowe_form.customer_email %> </span>
          <% end %>
          </td>
        </tr>
      </table>
    <h4> Vehicle Information </h4>
      <table class='table table-bordered table-condensed' >
        <tr>
        <th style='width:25%'>Stock Number</th>
          <td><%= @weowe_form.stock_number %></td>
        </tr>
        <tr>
        <th>Year</th>
          <td><%= @weowe_form.year%></td>
        </tr>
        <tr>
        <th>Make</th>
          <td><%= @weowe_form.make %></td>
        </tr>
        <tr>
        <th>Model</th>
          <td><%= @weowe_form.vehicle_model %></td>
        </tr>
        <tr>
        <th>Color</th>
          <td><%= @weowe_form.color %></td>
        </tr>
        <tr>
        <th>Date Sold</th>
          <td><%= @weowe_form.sold_date.strftime('%-m/%-d/%Y') %></td>
        </tr>
      </table>
    <h4> We Owe </h4>
    <table class='table table-bordered table-condensed' >
      <tr><th>#</th><th>Description</th><th>Quantity</th><th>Total Retail</th><th>Total Wholesale</th></tr>
        <% if @weowe_form.description_1? %>
          <tr>
            <th style='width:25%'>1</th>
            <td><%= @weowe_form.description_1 %></td>
            <td><%= @weowe_form.quantity_1 %></td>
            <td><%= number_to_currency(@weowe_form.dealer_total_value_1) %></td>
            <td><%= number_to_currency(@weowe_form.dealer_wholesale_1) %></td>
          </tr>
        <% end %>
        <% if @weowe_form.description_2? %>
          <tr>
            <th>2</th>
            <td><%= @weowe_form.description_2 %></td>
            <td><%= @weowe_form.quantity_2 %></td>
            <td><%= number_to_currency(@weowe_form.dealer_total_value_2) %></td>
            <td><%= number_to_currency(@weowe_form.dealer_wholesale_2) %></td>
          </tr>
        <% end %>
        <% if @weowe_form.description_3? %>
          <tr>
            <th>3</th>
            <td><%= @weowe_form.description_3 %></td>
            <td><%= @weowe_form.quantity_3 %></td>
            <td><%= number_to_currency(@weowe_form.dealer_total_value_3) %></td>
            <td><%= number_to_currency(@weowe_form.dealer_wholesale_3) %></td>
          </tr>
        <% end %>
        <% if @weowe_form.description_4? %>
          <tr>
            <th>4</th>
            <td><%= @weowe_form.description_4 %></td>
            <td><%= @weowe_form.quantity_4 %></td>
            <td><%= number_to_currency(@weowe_form.dealer_total_value_4) %></td>
            <td><%= number_to_currency(@weowe_form.dealer_wholesale_4) %></td>
          </tr>
        <% end %>
        <% if @weowe_form.description_5? %>
          <tr>
            <th>5</th>
            <td><%= @weowe_form.description_5 %></td>
            <td><%= @weowe_form.quantity_5 %></td>
            <td><%= number_to_currency(@weowe_form.dealer_total_value_5) %></td>
            <td><%= number_to_currency(@weowe_form.dealer_wholesale_5) %></td>
          </tr>
        <% end %>
         <tr>
          <th>Totals</th>
          <td>N/A</td>
          <td>N/A</td>
          <td>
            <%= number_to_currency(@weowe_form.dealer_total_value) %>
          </td>
          <td>
            <%= number_to_currency(@weowe_form.dealer_wholesale) %>
          </td>
        </tr>
    </table>
    <h4> Customer Owes </h4>
      <table class='table table-bordered table-condensed' >
        <tr>
          <th style='width:25%'>Description</th>
          <td><%= @weowe_form.theyowe_info %></td>
        </tr>
        <tr>
          <th>Total Value</th>
          <td><%= number_to_currency(@weowe_form.customer_total_value) %></td>
        </tr>
      </table>
    <h4> Sales Person </h4>
    <table class='table table-bordered table-condensed' >
      <tr>
        <th style='width:25%'>First Name </th>
        <td><%= User.find(@weowe_form.user_id).first_name %></td>
      </tr>
      <tr>
        <th>Last Name </th>
        <td><%= User.find(@weowe_form.user_id).last_name %></td>
      </tr>
    </table>

    <h4> Admin </h4>
    <table class='table table-bordered table-condensed' >
      <tr>
        <th style='width:25%'>Approved By </th>
        <td><%= @weowe_form.approved_by %></td>
      </tr>
      <tr>
        <th>Completed By</th>
        <td><%= @weowe_form.completed_by %></td>
      </tr>
    </table>
  </div>
</div>



