<div class='pull-right'>
  <div style="font-size: 16pt"><%= @weowe_form.dealer.name %></div>
    <%= "#{@weowe_form.dealer.address_1} #{@weowe_form.dealer.address_2}" %> <br />
    <%= "#{@weowe_form.dealer.city}, #{@weowe_form.dealer.state}, #{@weowe_form.dealer.zip}" %> <br />
    <%= "#{@weowe_form.dealer.phone_number}" %> <br />
  </div>

<div class='pull-left'>
  <% if @weowe_form.dealer.logo? %>
    <%= image_tag @weowe_form.dealer.logo.url, width: '350px' %>
  <% end %>
</div>

<br><br><br><br><br>

<center style="font-size: 40pt">DUE BILL</center>

<center style="font-size: 14pt"> VOID 30 DAYS AFTER SALE</center>

<table class='table table-bordered table-condensed' >
  <tr>
    <td>DATE: <%= Time.now.strftime('%-m/%-d/%Y')%></td>
    <td colspan="2">
      SALES MANAGER: {{data.user.first_name}} {{data.user.last_name}}
    </td>
  </tr>
  <tr>
    <td colspan='5'>
      CUSTOMER INFORMATION: {{data.weoweForm.customer_first_name}}
                            {{data.weoweForm.customer_last_name}},
                            {{data.weoweForm.customer_phone_mobile}},
                            {{data.weoweForm.customer_email}}
    </td>
  </tr>
  <tr>
    <td colspan='5'>
      VEHICLE INFORMATION: {{data.weoweForm.make}}
      {{data.weoweForm.vehicle_model}},
      {{data.weoweForm.year}};
      STOCK #: {{data.weoweForm.stock_number}}
    </td>
  </tr>
</table>

<center style='font-size: 14pt'><%= "#{@weowe_form.dealer.name} OWES".upcase %></center>
  <table class='table table-bordered table-condensed' >
    <tr><th>#</th><th>Description</th><th>Quantity</th><th>Total Cost </th></tr>
    <tr ng-show='data.weoweForm.description_1'>
      <th style='width:25%'>1</th>
      <td>{{data.weoweForm.description_1}}</td>
      <td>{{data.weoweForm.quantity_1}}</td>
      <td>{{data.weoweForm.dealer_total_value_1 | currency}}</td>
    </tr>
    <tr ng-show='data.weoweForm.description_2'>
      <th>2</th>
      <td>{{data.weoweForm.description_2}}</td>
      <td>{{data.weoweForm.quantity_2}}</td>
      <td>{{data.weoweForm.dealer_total_value_2 | currency}}</td>
    </tr>
    <tr ng-show='data.weoweForm.description_3'>
      <th>3</th>
      <td>{{data.weoweForm.description_3}}</td>
      <td>{{data.weoweForm.quantity_3}}</td>
      <td>{{data.weoweForm.dealer_total_value_3 | currency}}</td>
    </tr>
    <tr ng-show='data.weoweForm.description_4'>
      <th>4</th>
      <td>{{data.weoweForm.description_4}}</td>
      <td>{{data.weoweForm.quantity_4}}</td>
      <td>{{data.weoweForm.dealer_total_value_4 | currency}}</td>
    </tr>
    <tr ng-show='data.weoweForm.description_5'>
      <th>5</th>
      <td>{{data.weoweForm.description_5}}</td>
      <td>{{data.weoweForm.quantity_5}}</td>
      <td>{{data.weoweForm.dealer_total_value_5 | currency}}</td>
    </tr>
     <tr class='success' ng-show='data.weoweForm.description_1'>
      <th>Totals</th>
      <td>N/A</td>
      <td>N/A</td>
      <td>{{data.weoweForm.dealer_total_value | currency}}</td>
    </tr>
  </table>

<div ng-show='data.weoweForm.theyowe_info'>
  <center style="font-size: 14pt">CUSTOMER OWES</center>
  <table class='table table-bordered table-condensed' >
    <tr><th>#</th><th>Description</th><th>Quantity</th><th>Total Cost </th></tr>
            <tr>
              <td> 1. </td>
              <td>{{data.weoweForm.theyowe_info}}</td>
              <td> 1 </td>
              <td>{{data.weoweForm.customer_total_value | currency}}</td>
            </tr>
    </table>
  <br>
</div>

<div style='font-size: 8pt'>
  NOTE: THE ABOVE PROMISED WORK IS ONLY WORK TO BE PERFORMED FREE OF CHARGE OR INCLUDED
  IN NEGOTIATED PRICE. ANY ADDITIONAL WORK WILL BE CHARGED FOR IN ACCORDANCE WITH THE TYPE OF WARRENTY
  ISSUED AT TIME OF SALE, AND WILL BE CASH ON DELIVERY. ALL WORK MUST BE DONE IN OUR SHOP,
  AND YOU MUST MAKE AN ADVANCE APPOINTMENT WITH THE SERVICE DEPARTMENT BEFORE THE ABOVE WORK
  CAN BE PERFORMED.
</div>
<br>
<table class='table table-bordered table-condensed'>
  <tr>
    <th>Sales Person</th>
    <td>{{data.salesPerson.first_name}} {{data.salesPerson.last_name}}</td>
    <td>{{data.salesPerson.phone_number}}</td>
  </tr>
</table>
<br>
<br>

<div class='pull-left'>
  <p>Sales Manager _____________________</p>
</div>
<div class='pull-right'>
  <p>Customer _________________________</p>
</div>
