<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Service on your vehicle is completed and your car is ready for pickup!
    <br>
    </p>
    <p>
      We appreciate your business. <%= Time.now %>
    </p>
    <p> Sincerely, </p>
    <br>
    <hr>
    <legend><b><%= Dealer.find(@weowe_form.dealer_id).name %>
      <br>
      <%= Dealer.find(@weowe_form.dealer_id).address_1 %>
      <br>
      <%= Dealer.find(@weowe_form.dealer_id).city %>,
      <%= Dealer.find(@weowe_form.dealer_id).state %>
      <%= Dealer.find(@weowe_form.dealer_id).zip %>
      <br>
      <%= Dealer.find(@weowe_form.dealer_id).phone_number %>
    </b></legend>
  </body>
</html>
