<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p> Dear <%= @weowe_form.customer_first_name %>, </p>

    <p>
      Service on your vehicle has been completed as of <%= Time.now.strftime "%d/%m/%y" %>.
      Your vehicle is ready for pickup!
    <br>
    </p>
    <p>
      We appreciate your business.
    </p>
    <p> Sincerely, </p>
    <br>
    <hr>
    <legend><b><%= Dealer.find(@weowe_form.dealer_id).name %>
      <br>
      <%= Dealer.find(@weowe_form.dealer_id).address_1 %>
      <br>
      <%= Dealer.find(@weowe_form.dealer_id).city %>,
      <%= Dealer.find(@weowe_form.dealer_id).state %>
      <%= Dealer.find(@weowe_form.dealer_id).zip %>
      <br>
      <%= Dealer.find(@weowe_form.dealer_id).phone_number %>
    </b></legend>
  </body>
</html>
