<div class = 'navbar navbar-inverse navbar-static-top'>
  <div class = 'container'>
    <button class = 'navbar-toggle' data-toggle = 'collapse'
    data-target = '.navHeaderCollapse'>
      <span class = 'icon-bar'></span>
      <span class = 'icon-bar'></span>
      <span class = 'icon-bar'></span>
    </button>
    <% if signed_in? %>
      <%= link_to 'We Owe Pro', dashboard_path, id: 'logo' %>
    <% end %>
    <div class = 'collapse navbar-collapse navHeaderCollapse'>
      <ul class = 'nav navbar-nav navbar-right' >
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li><%= link_to 'Users', users_path %></li>
          <% end %>

          <li class = 'dropdown'>
            <a href = '#' class = 'dropdown-toggle' data-toggle = 'dropdown'>
              Forms<b class = 'caret'></b></a>
          <ul class = 'dropdown-menu'>
            <% if current_user.admin? %>
              <li><%= link_to 'Pending', pending_path %></li>
              <li><%= link_to 'Open', weowe_forms_path %></li>
              <li><%= link_to 'Closed', completed_path %></li>
              <li><%= link_to 'Statistics', stats_path %></li>
            <% end %>
          </ul>

          <li class = 'dropdown'>
            <a href = '#' class = 'dropdown-toggle' data-toggle = 'dropdown'>
              Account<b class = 'caret'></b></a>
            <ul class = 'dropdown-menu'>
              <li><%= link_to 'My Profile', current_user %></li>
              <% if current_user.admin? %>
                <li><%= link_to 'Billing','#' %></li>
                <li><%= link_to 'Settings','#' %></li>
              <% end %>
              <li class='divider'></li>
              <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

