<div id='top_nav'>
  <center>
    <div id='nav_logo'>
      <%= link_to 'WeOwePro', dashboard_path, id: 'logo' %>
    </div>
  </center>
</div>

<style>
  #top_nav {
    color: white;
    background-color: #21272B;
    height: 50px;
  }
  #nav_logo {
    padding-top: 12px;
    margin-top: 0px;
  }
</style>

<div class = 'navbar navbar-inverse navbar-static-top'>
  <div class = 'container'>
    <button class = 'navbar-toggle' data-toggle = 'collapse'
    data-target = '.navHeaderCollapse'>
      <span class = 'icon-bar'></span>
      <span class = 'icon-bar'></span>
      <span class = 'icon-bar'></span>
    </button>
    <div class = 'collapse navbar-collapse navHeaderCollapse'>
      <ul class = 'nav navbar-nav navbar-right' >
        <% if user_signed_in? %>
          <% if current_user.admin == true %>
            <li class='<%= active_link_to_class('#',
                active: [['users'], ['index']]) %>'>
              <a href='/users'><span class='fa fa-users fa-lg'> Staff</span></a>
            </li>
          <% end %>
          <% if current_user.admin == true %>
            <li class='<%= active_link_to_class('#',
                active: [['static_pages'], ['stats']]) %>'>
              <a href='/stats'><span class='fa fa-bar-chart fa-lg'> Statistics</span></a>
            </li>
          <% end %>
          <li class="<%= active_link_to_class('#',
              active: [['weowe_forms'], []]) %> dropdown">
            <a href = '#' class = 'dropdown-toggle' data-toggle = 'dropdown'>
              <span class='fa fa-list-alt fa-lg'> Forms</span>
              <span style='background-color:#009587;' class='badge'>
                <%= WeoweForm.where(dealer_id: current_user.dealer_id, pending: false, completed: false).count %> In Service
              </span>
              <b class = 'caret'></b>
              </a>
          <ul class = 'dropdown-menu'>
            <li><%= link_to 'New Form', new_weowe_form_path %></li>
            <li><%= link_to 'Sales', pending_path %></li>
            <li><%= link_to 'Service', weowe_forms_path %></li>
            <li><%= link_to 'Completed', completed_path %></li>
          </ul>

          <li class="<%= active_link_to_class('#',
              active: [['users', 'dealers'], ['show', 'edit', 'admin']]) %> dropdown">
            <a href = '#' class = 'dropdown-toggle' data-toggle = 'dropdown'>
              <span class='fa fa-cog fa-lg'> Account</span>
              <b class = 'caret'></b></a>
            <ul class = 'dropdown-menu'>
              <li><%= link_to 'My Profile', current_user %></li>
              <% if current_user.admin == true %>
                <li><%= link_to 'Preferences', admin_path %></li>
              <% end %>
              <li class='divider'></li>
              <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
