<!DOCTYPE html>
<html>
  <head>
    <title>WeOwePro</title>
    <meta name='description'
          content='Web app for managing We Owe Forms. Mobile/Tablet support.
                   Robust Analytics.'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0 user-scalable=no'>
    <%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css', 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/google_analytics' %>
  </head>
  <body>
    <%= custom_bootstrap_flash %>
    <%= render 'layouts/landing_page_header' %>
    <div>
      <%= yield %>
      <%= render 'layouts/landing_page_footer' %>
    </div>
  </body>
</html>
